.ReportFormPage {
    @extend .routepage;

    max-width: 411px;
    margin: 0 auto;

    fieldset {
        border: none;
        &.noPadding {
            padding: 0 1.75em;
        }
        &.radioPadding {
            .mdc-form-field > label {
                line-height: 110%;
            }
        }
    }

    .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background {
        border-color: #27337a;
        background-color: #27337a;
    }
    .mdc-radio .mdc-radio__native-control:enabled + .mdc-radio__background .mdc-radio__inner-circle {
        border-color: #27337a;
    }

    input {
        border: 1px solid #ccc;
        border-radius: 3px;
        display: block;
        padding: 0.25em 0.5em;
    }

    textarea {
        width: 100%;
        height: 6em;
    }
    label {
        display: block;
        font-size: 1.8rem;
        font-weight: bold;
        color: #27337a;
    }

    p {
        padding: 0 1em;
    }

    .buttons {
        margin-bottom: 1.0em;
        padding: 1.0em;
        text-align: center;
    }
}

.select-up .Select-menu-outer {
    position: absolute !important;
    top: auto !important;
    bottom: calc(100% - 1px) !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.select-up .is-open .Select-control {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}

.textInput {
  width: 100%;
}
