.ActionButton {
    padding-bottom: 2.0em;
    text-align: center;

    .button {
        @extend .button;
        background-color: $color-red;
        font-weight: bold;
    }

    p {
        padding: 0 1em;
        text-align: left;

        &.header {
            text-align: center;
            font-weight: bold;
        }
    }
}
